.message-container {
    background-color: var(--color-tertiary);
    border-radius: var(--border-radius);
    margin: 20px 20px 0 20px;
      text-align: center;
}

.message {
  padding: 14px 18px;
}

@media screen and (max-width: 360px) {
  .message-container {
      margin: 10px 20px 0 20px;
      text-align: center;
      }
}