.message-container {  
    margin: 20px 20px 0 20px;
      text-align: center;
      margin: 10% 0 0 10%
}

.message {
  padding: 14px 18px;
  background-color: var(--color-tertiary);
  border-radius: var(--border-radius);  
}

@media screen and (max-width: 360px) {
  .message-container {
      margin: 10px 20px 0 20px;
      text-align: center;
      }
}