.icon-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.icon-text {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 14px
}

.icon-button-image {
    height: 60%
}

@media screen and (max-width: 360px) {
    .icon-text {
        display: none
    }
    .icon-button-image {
        height: 75%
    }

}

@media screen and (min-width: 361px) and (max-width: 768px)  {
    .icon-text {
        display: none
    }
    .icon-button-image {
        height: 100%
    }
    .icons-section {
        gap: 20px;
    }
}