.categories-banner {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 20px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-image {
  width: 100%;
  border-radius: 0.5rem;
}

.category-cta {
  text-transform: uppercase;
  font-weight: 600;
  font-size:32px;
    position: absolute;
    top: 62%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    border-radius: 0.5rem;
  }