/*meter al index*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600;700&display=swap');

.categories-banner {
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 20px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.category-image {
  width: 100%;
  border-radius: 0.5rem;
}

.category-cta {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size:48px;
    position: absolute;
    top: 57%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    border-radius: 0.5rem;
  }