.categories-banner {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 20px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.category-image {
  width: 100%;
  border-radius: var(--border-radius);
}

.category-cta {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  top: 68%;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0 10px;
  border-radius: var(--border-radius);
}

.category-data-container {
  position: absolute;
  top: 55%;
}

@media screen and (max-width: 710px) {
  .categories-banner {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
