/* .main-category-page {
    display: flex;
} */

.filter-and-products {
display: flex;
}

.message-and-products {
    display: flex
}

.filter-section {
padding: 20px;
}

@media screen and (max-width: 768px) {
    .filter-section {
        display: none;
        }
        .filter-and-products {
            flex-direction: column;
            justify-content: center;
            }
  }