.main-category-page {
display: flex;
}

.message-and-products {
    display: flex
}

.filter-section {
padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .filter-section {
        display: none;
        }
  }