.open-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: var(--color-input);
  padding: 30px;
  border-radius: var(--border-radius);
  width: 100%
  }

 .closed-modal {
   display: none
  }

.modal-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-button {
  position: absolute;
  left: 90%;
  top: 5%
}


@media screen and (max-width: 490px) {
.open-modal {
 top: 10vh;
 width: 180px
  }
}