
.first-header-section {
    display: flex;
    height: 18vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primary);
}


.category-navbar {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    padding: 20px 10px;
    background-color: var(--color-secondary);
}

.category-link {
    text-decoration: none;
    color: var(--color-primary); 
    font-size: 20px;
    font-weight: 600;
    /* transition: transform 0.3s ease; */
    transition: var(--transition)

}

.category-link:hover {
  transform: scale(1.1);
}

.icons-section {
    display: flex;
    gap: 20px
}

@media screen and (max-width: 499px) {
    .first-header-section {
        height: 11vh;
        padding-top: 16px
    }
    .logo-and-icons-container {
        display: flex;
    }
    .icons-section {
        gap: 0px;
        margin-bottom: 5px
    }
    .category-navbar {
        display: none;
        
    }
}

@media screen and (min-width: 500px) and (max-width: 900px)  {
    .first-header-section {
        height: 9vh;
        padding: 20px
    }
    .logo-and-icons-container {
        display: flex;
    }
    .icons-section {
        gap: 0px;
        margin-bottom: 5px
    }
    .category-navbar {
        display: none;
        
    }
}