.search-input-section {
    display: flex;
    gap: .5rem;
    width: 30%;
    border-radius: var(--border-radius);
}

#search-input-mobile {
    display: none
}

.search-icon {
    cursor:pointer
}


@media screen and (max-width: 360px) {
    #search-input-desktop {
        display: none
    }
    
    #search-input-mobile {
    display: flex;
    width: 100%;
    background-color: var(--color-primary);
    padding: 10px 30px 20px 30px;
    border-radius: 0;
    }   
    

}
