.register-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 59.5vh;
    padding: 20px;
}

.register-login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 350px;
}

.register-cta {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 600;
    text-align: center
}

.register-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
padding: 20px;
}

@media screen and (max-width: 915px) {

.register-login-container {
        height: 69vh;
    }
.register-cta {
    padding: 0 12px 0 12px
}
}