.category-title {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: 600;
    height: 10vh;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 360px) {
    .category-title {
        height: 11vh;
        background-color: var(--color-secondary);
    color: var(--color-primary);
    }
  }