@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@300;700&family=Montserrat:wght@100;200;300;400;500;600;800&display=swap');

:root {
  --main-bg-color: whitesmoke;
  --color-primary: #008ab8; 
  --color-secondary: #f3f30b;  
  --color-tertiary: #fbc02d; 
  --color-red: #f44034; 
  --primary-text-color: #020202;
  --color-input: #98b7c2;

  --border-radius: .5rem;

  --transition: 0.8s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  min-height: 100%;
  transition: var(--transition);

}

a, link {
  transition: var(--transition);
  text-decoration:none
}

